*{
    list-style: none;
    text-decoration: none!important;
    box-sizing: border-box;
}

body{
    background-color: rgba(217, 217, 217, .3);
}

.mds{
    position: absolute;
    right: 20px;
    top: 10px;
    align-items: center;
    display: flex;
}

.mds a{
    color: gray;
    font-weight: 600;
    font-size: 17px;
    margin-right: 10px;
}

.mds h6{
    margin-left: 10px;
    margin-top: 7px;
}

.mds .btn-mds #div-toggle{
    height: 15px;
    width: 50px;
    position: relative;
    border-radius: 50px;
    box-shadow: 0px 0px 10px grey;
    background-color: rgba(217, 217, 217, 1);
    cursor: pointer;
}

.mds .btn-mds #div-toggle #toggle{
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    left: 0;
    transition: .3s ease-in-out;
}

.msg-accueil{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.msg-accueil img{
    width: 25rem;
    height: 25rem;
}

.btn-next{
    width: 150px;
    height: 40px;
}

/* La classe qui permet au bouton mds de transité */
.translate{
    transform: translate(35px);
}

/* La classe qui permet au bouton mds de changé la couleur de fond */
.bg-sky{
    background-color: skyblue!important;
}

.msg-accueil p, .msg-accueil span{
    font-size: 22px;
    font-weight: 600;
}