*{
    list-style: none;
    text-decoration: none!important;
    box-sizing: border-box;
}

body{
    background-color: rgba(217, 217, 217, .2)!important;
}

.visible{
    display: block!important;
}

.mds{
    background-color: #000!important;
}

.inter{
    color: #fff;
    background-color: #FA6E61;
    border: none!important;
    transition: .1s ease-in-out;
}

.over{
    transition: .2s ease-in-out;
    font-size: 10px;
    top: -1px!important;
    color: #FA6E61;
}

.search{
    top: 70px;
    left: 35%;
    right: 35%;
    border-bottom: 1px solid rgb(217, 217, 217);
    z-index: 40;
}

.search div{
    background-color: rgba(217, 217, 217, .4);
    width: 91%;
    height: 50px;
}

.search div input{
    background-color: transparent;
    height: 100%;
    outline: none;
    padding-left: 20px;
    width: 90%;
}

.placeHol::placeholder{
    color: #000;
}

.nomPlaces{
    width: 100%;
    height: 100vh;
    z-index: 40;
}

.nomPlaces .overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    backdrop-filter: blur(1px);
    z-index: -1;
}
.nomPlaces .remplir{
    z-index: 1;
    padding: 40px 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.preload{
    display: flex;
    z-index: 3000;
    top: 0;
    width: 100%;
    height: 100vh;
}

.preload img{
    width: 12rem;
    height: 12rem;
}

/* Navbar */

.menu{
    padding: 0 100px;
    height: 70px;
    top: 0;
    width: 100%;
    z-index: 50;
}

.menu a h2{
    color: #FA6E61;
}

.menu nav{
    margin-top: 7px;
}

.menu .user img{
    width: 2rem;
    margin-left: 5px;
    height: 2rem;
}

/* Accueil */

.msg-accueil{
    width: 100%;
    position: relative;
    min-height: 100vh;
    background-image: url('../images/img-acc.jpg');
    background-position: center;
    backdrop-filter: blur(5px);
    background-size: cover;
    padding: 0 10px;
    background-repeat: no-repeat;
}

.msg-accueil div{
    flex-direction: column;
    position: absolute;
    bottom: 0;
    border-radius: 35px 35px 0 0;
    background-color: #fff;
}

.btn-next{
    width: 150px;
    height: 45px;
    border-radius: 50px;
    background: linear-gradient(to left top,#FA6E61, #FDD832);
    color: #fff;
    font-weight: 600;
    border: none;
}

/* Fin d'accueil */

/* Fin page accueil ! Début page connexion et inscription */

.container .form-conn form button, .container .form-ins form button {
    height: 45px;
    border-radius: 50px;
    background: linear-gradient(to left top,#FA6E61, #FDD832);
    font-weight: 700;
    color: #fff;
    width: 100%;
    border: none;
}
.container .form-conn form .champs, .container .form-ins form .champs{
    border-bottom: 1px solid grey;
}

.container .form-conn form .champs span, .container .form-ins form .champs span{
    width: 12%;
}

.container .form-conn form .champs input, .container .form-ins form input{
    outline: none;
    width: 88%;
    padding: 8px 10px;
    border-radius: 7px;
    border:none;
}
/* Connexion */

.container{
    min-height: 100vh;
}
.container form{
    padding: 40px;
    background-color: #fff;
}

.container .form-conn form img{
    width: 12rem;
    height: 12rem;
}

/* inscription */

.container .form-ins form{
    border-radius: 10px;
}

.container .form-ins form img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.container .form-ins form label{
    background: linear-gradient(to left top,#FA6E61, #FDD832);
    color: #fff;
    padding: 8px;
    font-size: 13px;
    font-weight: 500;
}
#upload-img{
    display: none;
}

/*  Préférences */

.preferences{
    width: 100%;
    flex-direction: column;
    min-height: 100vh;
}

.preferences .choix-pref{
    padding: 20px;
}

.preferences .choix-pref .pref{
    border-radius: 50px;
    border: 1px solid gray;
    padding: 10px 15px;
    font-size: 17px;
    color: #000;
    font-weight: 600;
}

.pref-choisi{
    border: 1px solid #ffa908!important;
    color: #fff!important;
    background-color: #ffa908!important;
}

.btnPref{
    background: linear-gradient(to left top,#FA6E61, #FDD832);
    border: none;
    border-radius: 50px;
    width: 50%;
    height: 45px;
}

.btnPref a{
    color: #fff;
    font-weight: 600;
    width: 100%;
}

/* tableau de bord */

#btnCreatEvent{
    bottom: 20px;
    right: 20px;
    background-color: #FA6E61;
    border-radius: 50%;
    padding: 5px;
    z-index: 100;
}

.active{
    font-weight: 700!important;
}

.accueil{
    right: 35%;
    left: 35%;
    top: 180px;
}

/* Evenement */

.evenements .avis .interesse{
    border: 1px solid gray;
    width: 50%;
}

.evenements .avis .participe{
    width: 50%;
}

.evenements .avis .participe button{
    background-color: #FA6E61;
    padding: 9px 0;
}

/* Fin Event*/

/* Profil */

.profil{
    top: 130px;
    left: 120px;
    width: 22%;
    display: flex;
    overflow: hidden;
    border-radius: 10px;
}

.profil .information button{
    background-color: #FA6E61;
    padding: 8px;
}

.profil .prefer{
    background-color: rgba(217, 217, 217, .4);
}

/*Fin Profil*/

/* Infos */

.infos{
    top: 100px;
    right: 70px;
    width: 27%;
    display: block;
}

.infos div button{
    width: 48%;
    padding: 8px;
}

.infos div .ajouter{
    border: 1px solid grey;
}

.infos div .mod{
    background-color: #FA6E61;
}


/* Fin infos */


/* Fin tableau de bord */

/*Event formulaire*/

.container .form-event form .champsEvent{
    border: 1px solid gray;
    height: 55px;
}
.container .form-event form .champsEvent span{
    left: 10px;
    top: 15px;
}
.container .form-event form .champsEvent input{
    background-color: transparent;
    width: 90%;
    top: 15px;
    outline: none;
    left: 10px;
}
.container .form-event form .dateHeure{
    width: 100%;
}
.container .form-event form .dateHeure div{
    width: 50%;
    padding: 2px;
}
.container .form-event form .dateHeure div input{
    border: 1px solid gray;
}

.container .form-event form button, .container .form-invites form button{
    width: 48%;
    border-radius: 50px;
    height: 50px;
}

.container .form-event form .annuler, .container .form-invites form .annuler, #sans{
    background-color: #fff;
    border: 1px solid #FA6E61;
    color: #FA6E61;
}
.container .form-event form .ajouter, .container .form-invites form .ajouter{
    background: linear-gradient(to left top,#FA6E61, #FDD832);
    color: #fff;
}

#btnEnreg, #btnSuivant{
    color: #fff;
    background-color: #FA6E61;
}

#btnSuivant{
    height: 45px;
    border-radius: 50px;
    width: 100%;
    background: linear-gradient(to left top,#FA6E61, #FDD832);
}

#sans{
    border-radius: 50px;
    height: 45px;
}

/* Mon Profil*/

.monProfil{
    top: 71px;
    left: 30%;
    right: 30%;
}

.monProfil .prefer{
    background-color: rgba(217, 217, 217, .8);
}

.monProfil button{
    background-color: #FA6E61;
    height: 45px;
}

.monProfil .modInfos{
    display: block;
    display: none;
}

.monProfil .theme.activeTheme{
    border: 1px solid grey;
    border-radius: 10px;
}

.monProfil .theme button{
    background-color: transparent;
}

/* Fin */

/* Mes Evenements */

.mesEvents{
    top: 71px;
    left: 30%;
    right: 30%;
}

.mesEvents div button{
    width: 50%;
    height: 40px;
}

.mesEvents div .ajouter{
    border: 1px solid grey;
}

.mesEvents div .mod{
    background-color: #FA6E61;
}

/* Fin */

/* Modifiers Events */

.modEvents .bi-x{
    right: 5px;
    top: 5px;
}

.overMod{
    display: block;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, .4);
    inset: 0;
    z-index: 50;
    display: none;
}

.modEvents{
    z-index: 50;
    background-color: #fff;
    padding: 60px 10px 20px 10px;
    margin: 40px 25%;
    display: block;
    background-color: #fff;
    overflow-x: hidden;
    display: none;
}

/* Mes invitations */

.notifications{
    background-color: #fff;
    top: 71px;
    left: 30%;
    right: 30%;
}

.notifications .notification{
    background-color: rgba(217, 217, 217, .2);
}

/* Mes evenements passés */

.eventsPasses{
    position: absolute;
    left: 35%;
    right: 35%;
    top: 71px;
    background-color: #fff;
}

.eventsPasses .comment img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

/* Evenments auxquels j'ai participé */

.eventsParticipes{
    position: absolute;
    left: 35%;
    right: 35%;
    top: 71px;
    background-color: #fff;
}

.eventsParticipes .commenter button{
    background-color: #FA6E61;
    width: 50%;
}

/* Participer */

.participer{
    display: block;
    z-index: 100;
    border-radius: 10px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.participer button{
    background-color: #FA6E61;
    width: 50%;
}

/* Media Screen */

@media (max-width: 1000px){

    .msg-accueil img{
        width: 15rem;
        height: 15rem;
    }
    
    .msg-accueil span{
        font-size: 16px!important;
    }

    .preferences .choix-pref .pref{
        padding: 5px 10px!important;
        font-size: 15px!important;
        font-weight: initial!important;
    }
    .container form{
        width: 100%;
        height: 100%;
    }
    .container form{
        padding: 40px 20px!important;
    }
    .btnPref{
        background: linear-gradient(to left top,#FA6E61, #FDD832);
        border: none;
        border-radius: 50px;
        width: 100%!important;
        height: 45px;
    }
    .newEvent{
        display: none;
    }
    .menu .profil span{
        display: none;
    }
    .menu{
        padding: 0;
    }
    .menu nav ul li a{
        font-size: 25px;
        padding: 15px;
    }
    .nomPlaces .remplir{
        padding: 20px 20px;
    }
    .menu nav{
        position: absolute;
        top: 70px;
        width: 100%;
        background-color: #fff;
        padding: 0;
        height: 60px;
        margin-top: initial;
    }
    .menu nav ul{
        display: flex;
        width: 100%;
        align-items: center;
        /* justify-content: space-between; */
    }
    .menu nav ul li{
        padding: 0!important;
    }
    .menu nav ul li a{
        display: flex!important;
        flex-direction: column!important;
    }
    .menu nav ul li a span{
        font-size: 13px;
    }
    .menu nav ul li a i{
        font-size: 21px;
    }
    .search{
        top: 130px;
        left: 0;
        right: 0;
    }
    .accueil{
        top: 210px;
        left: 0;
        right: 0;
    }
    .profil, .infos{
        display: none;
    }
    .profil{
        width: 100%;
        left: 0;
        top: 0;
        border-radius: none;
        z-index: 100;
        bottom: 0;
    }
    .monProfil{
        left: 0;
        right: 0;
        top: 131px;
    }
    .mesEvents{
        left: 0;
        right: 0;
        top: 131px;
    }
    .modEvents{
        margin:0;
        padding: 60px 10px 10px 10px;
    }
    .notifications{
        top: 131px;
        left: 0;
        right: 0;
    }
    .eventsPasses{
        left: 0;
        right: 0;
        top: 131px;
    }
    .eventsParticipes{
        left: 0;
        right: 0;
        top: 131px;
    }
    .participer{
        border-radius: 10px;
        left: 1%;
        right: 1%;
        top: 30%;
        transform: initial;
    }
}

@media (max-width: 375px){
    .menu nav ul li a span{
        font-size: 11px;
    }
    .menu nav ul li a i{
        font-size: 18px;
    }
    .menu nav{
        height: 50px;
    }
    .search{
        top: 120px;
    }
    .accueil{
        top: 190px;
    }
    .search div{
        background-color: rgba(217, 217, 217, .4);
        width: 95%;
        height: 40px;
    }
    
    .search div input{
        height: 80%;
        padding-left: 10px;
        width: 90%;
    }
    .monProfil{
        top: 121px;
    }
    .mesEvents{
        top: 121px;
    }
    .notifications{
        top: 121px;
    }
    .eventsPasses{
        top: 121px;
    }
    .eventsParticipes{
        top: 121px;
    }
}

@media (max-width: 300px){
    .menu nav ul li a span{
        font-size: 6px;
    }
    .menu nav ul li a i{
        font-size: 13px;
    }
    .menu nav{
        height: 40px;
    }
    .search{
        top: 110px;
    }
    .accueil{
        top: 170px;
    }
    .search div{
        background-color: rgba(217, 217, 217, .4);
        width: 95%;
        height: 40px;
    }
    
    .search div input{
        height: 80%;
        padding-left: 10px;
        width: 90%;
    }
    .monProfil{
        top: 111px;
    }
    .mesEvents{
        top: 111px;
    }
    .notifications{
        top: 111px;
    }
    .eventsPasses{
        top: 111px;
    }
    .eventsParticipes{
        top: 111px;
    }
}